MiniMapHUD {

	> .minimap {
		z-index: 9999;
		display: block;
		visibility: visible;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15vw;
		height: 15vw;
		opacity: 1;
		background-color: red;
		object-fit: cover;
	}
}
