UpgradePanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;
	pointer-events: all;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: Poppins;
	font-size: 64px;


	&.hide {
		opacity: 0;
	}

	&.show {
		opacity: 1;
	}


	.upgrades {
		align-content: center;
		display: flex;
		flex-direction: column;
		gap: 30px;
		position: absolute;
		right: 20px;
		padding: 15px;
		border-radius: 8px;
		width: 75vw;
	}

	.upgrade {

		.tooltip {
			position: absolute;
			bottom: 110%;
			left: 50%;
			transform: translateX(-50%);
			background: rgba(0, 0, 0, 0.8);
			color: white;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 32px;
			white-space: nowrap;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.2s ease-in-out, visibility 0.2s;
			pointer-events: none;
		}

		&:hover .tooltip {
			opacity: 1;
			visibility: visible;
		}

		background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(255, 255, 255, 0.1);
		padding: 10px;
		border-radius: 5px;

		span {
			color: white;
			font-weight: bold;
		}

		.button {
			background: #4caf50;
			color: white;
			padding: 5px 10px;
			border-radius: 5px;
			cursor: pointer;
			transition: background 0.2s ease-in-out;
			width: 200px;
			justify-content: center;

			&:hover {
				background: #66bb6a;
			}

			&.repair {
				background: #d32f2f;

				&:hover {
					background: #e53935;
				}
			}
		}
	}
}
