@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@(!IsOpen ? "hide" : "show")">
	<div class="upgrades">
		@foreach (var upgrade in Upgrades.UpgradeList)
		{
			var info = upgrade.UpgradeInfo;
			<div class="upgradeclass">
				<span>@info.Name</span>

				@if (info.isBroken)
				{
					<button class="button" @onclick=@(()=> RepairItem(upgrade))>
						Repair
					</button>
				}
				else if (!info.isActive)
				{
					<button class="button" @onclick=@(() => BuyItem(upgrade))>
						Buy
					</button>
				}
				else
				{
					<button class="bought">✅</button>
				}
				<div class="tooltip">@(info.Description)</div>
			</div>
		}
	</div>
</root>

@code
{
	[Property] public CarUpgradeManager Upgrades;
	[Property] public Economy PlayerEconomy;
	public bool IsOpen { get; set; } = false;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(IsOpen, Upgrades?.UpgradeList.Count ?? 0);

	protected override void OnStart()
	{
		Upgrades = Scene.GetAllComponents<CarUpgradeManager>().First();
		PlayerEconomy = Scene.GetAllComponents<Economy>().First();
		
		foreach (var upgrade in Upgrades.UpgradeList)
		{
			upgrade.UpgradeInfo.visual.Enabled = false;
		}
	}
	protected override void OnUpdate()
	{
		if (Input.Pressed("Shop"))
		{
			IsOpen = !IsOpen;
		}
	}

	public void RepairItem(CarUpgradeComponent upgrade)
	{
		if ( upgrade == null ) return;
		if ( PlayerEconomy.TryBuy( upgrade.UpgradeInfo.repairCost ) )
		{
			upgrade.UpgradeInfo.isBroken = false;
			upgrade.OnRepair.Invoke();
		}
	}

	public void BuyItem(CarUpgradeComponent upgrade)
	{
		if ( upgrade == null ) return;
		if (PlayerEconomy.TryBuy(upgrade.UpgradeInfo.buyCost))
		{
			upgrade.UpgradeInfo.visual.Enabled = true;
			upgrade.UpgradeInfo.isBroken = false;
			upgrade.UpgradeInfo.isActive = true;
			upgrade.OnBuy.Invoke();
		}

	}
}
